In [11]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd

In [56]:
file = r'../data/unhcr_popstats_export_demographics_all_data.csv'
df = pd.read_csv(file, header=3)
df = df.replace(to_replace='*', value="2")
df['Total'] = df['F: Total'] + df['M: Total']
df['Total'] = pd.to_numeric(df['Total'])
df.dtypes

Year                                         int64
Country / territory of asylum/residence     object
Location Name                               object
Female 0-4                                  object
Female 5-11                                 object
Female 5-17                                float64
Female 12-17                                object
Female 18-59                                object
Female 60+                                  object
F: Unknown                                 float64
F: Total                                    object
Male 0-4                                    object
Male 5-11                                   object
Male 5-17                                  float64
Male 12-17                                  object
Male 18-59                                  object
Male 60+                                    object
M: Unknown                                 float64
M: Total                                    object
Total                                        int64
dtype: object

In [57]:
def calculate_share(demographic):
    df[demographic + '_share'] = df[demographic] / df['Total']

In [61]:
calculate_share('F: Unknown')
print(df['F: Unknown_share'])

0        0.000000e+00
1        6.972428e-07
2        0.000000e+00
3        0.000000e+00
4        0.000000e+00
5        0.000000e+00
6        0.000000e+00
7        0.000000e+00
8        0.000000e+00
9        0.000000e+00
10       0.000000e+00
11       0.000000e+00
12       0.000000e+00
13       0.000000e+00
14       0.000000e+00
15       0.000000e+00
16       0.000000e+00
17       0.000000e+00
18       0.000000e+00
19       0.000000e+00
20       0.000000e+00
21       0.000000e+00
22       0.000000e+00
23       0.000000e+00
24       0.000000e+00
25       0.000000e+00
26       0.000000e+00
27       0.000000e+00
28       0.000000e+00
29       0.000000e+00
             ...
18508             NaN
18509             NaN
18510             NaN
18511             NaN
18512             NaN
18513             NaN
18514             NaN
18515             NaN
18516             NaN
18517             NaN
18518             NaN
18519             NaN
18520             NaN
18521             NaN
18522             NaN
18523             NaN
18524             NaN
18525             NaN
18526             NaN
18527             NaN
18528             NaN
18529             NaN
18530             NaN
18531             NaN
18532             NaN
18533             NaN
18534             NaN
18535             NaN
18536             NaN
18537             NaN
Name: F: Unknown_share, Length: 18538, dtype: float64